:root {
    /*Colors*/
    --color-primary: darkblue;
    --color-secondary: white;
    --color-text: #333;
    --color-bg: #eee;
    --color-border: black;

    /*Padding*/
    --padding-small: 2px;
    --padding-medium: 5px;
    --padding-large: 10px;
    --padding-xlarge: 20px;
    --padding-rem: 1rem;

    /*Borders*/
    --border-thin: 1px solid black;
    --border-thicker: 2px solid black;
    --border-light: 1px solid rgb(0 0 0 / 0.2);

    /*Shades*/
    --shadow-gray: 0 0 30px gray;
    --shadow-dark: 3px 3px 5px rgb(0,0,0);

    /*Images sizes*/
    --img-small: 150px;
    --img-large: 200px;
}

nav {
    background-color: var(--color-primary);
    padding: var(--padding-large);
}

nav a {
    color: var(--color-secondary);
    display: block;
    padding: var(--padding-xlarge);
}

h1 {
    color: var(--color-primary);
}

img {
    width: var(--img-small);
    height: auto;
    border: var(--border-thin);
    padding: var(--padding-small);
    box-shadow: var(--shadow-gray);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: var(--padding-rem);
    border: var(--border-light);
    padding: var(--padding-rem);
    background-color: var(--color-bg);
    color: var(--color-text);
    text-align: center;
}

aside img {
    width: var(--img-small);
    height: auto;
}

main img {
    width: var(--img-small);
    height: auto;
    border: var(--border-thicker);
    padding: var(--padding-medium);
    box-shadow: var(--shadow-dark);
}

footer {
    margin-top: 15px;
    border-top: var(--border-thin);
    text-align: center;
}


