:root {
    /*Colors*/
    --color-primary: darkblue;
    --color-secondary: white;
    --color-text: #333;
    --color-bg: #eee;
    --color-border: black;

    /*Padding*/
    --padding-small: 2px;
    --padding-medium: 5px;
    --padding-large: 10px;
    --padding-xlarge: 20px;
    --padding-rem: 1rem;

    /*Borders*/
    --border-thin: 1px solid black;
    --border-thicker: 2px solid black;
    --border-light: 1px solid rgb(0 0 0 / 0.2);

    /*Shades*/
    --shadow-gray: 0 0 30px gray;
    --shadow-dark: 3px 3px 5px rgb(0,0,0);

    /*Images sizes*/
    --img-small: 150px;
    --img-large: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    display: block;
    color: var(--color-secondary);
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--color-text);
}

nav a:hover {
    background-color: brown;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;

}
nav {
    background-color: var(--color-primary);
    padding: var(--padding-large);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: var(--img-small);
    height: auto;
    border: var(--border-thin);
    padding: var(--padding-small);
    box-shadow: var(--shadow-gray);
}

main {
    max-width: 840px;
}

main img {
    width: var(--img-small);
    height: auto;
    border: var(--border-thicker);
    padding: var(--padding-medium);
    box-shadow: var(--shadow-dark);
    float: right;
    margin: 0 0 1rem 1rem;
}

h1 {
    color: var(--color-primary);
    padding-bottom: 2px;
    border-bottom: 2px solid var(--color-primary);
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

/* color: var(--main-color); */

aside img {
    width: var(--img-small);
    height: auto;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 120px;
}

p {
    margin: 1rem;
    padding: 0;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: auto 300px;
}

footer {
    background-color: var(--color-primary);
    margin-top: 15px;
    border-top: var(--border-thin);
    text-align: center;
    color: #fff;
}

ul {
    list-style: none;
    padding: 1rem;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid #0a66c2;
    padding: 1rem;
    color: var(--color-text);
    background-color: var(--color-bg);
}

.indent {
    padding-left: 2rem;
}


